
app-search, app-loading {
    width: 100%;
}

.header {
    padding: 1rem;
    text-align: center;
    letter-spacing: 1.8px;

    &__title {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;

        span {
            color: #ff6600;
        }
    }

    &__sub-title {
        margin: 1rem 0;
        font-size: 2rem;
        line-height: 2rem;
    }
}

hr {
    width: 100%;
    border-top: 0.5px #333333;
    margin-bottom: 1rem;
}